.App {
  text-align: center;
}


.mid {
  background-color: aqua;
  height: 600px;
  display: flex;
  flex-direction: row;
  
}

.settings {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  
}


.model {
  width: 600px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 50px;
}





